.button {
  border: 2px solid darkgreen;
  font-weight: bold;
  border-radius: 5px;
  color: lightgreen;
  font-size: large;
  cursor: pointer;
  background-color: rgba(24, 23, 23, 0.903);
}

.button:hover {
  background-color: lightgreen;
  color: black;
}

.disabled {
  border: 2px solid darkgreen;
  font-weight: bold;
  border-radius: 5px;
  color: red;
  font-size: large;
  cursor:not-allowed;
  background-color: rgba(24, 23, 23, 0.903);
}



