.main {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  color: rgb(91, 86, 86);
}

img {
  margin-top: 20px;
  width: 80px;
  height: 80px;
}

@media screen and (max-width: 840px) {
  .main {
    margin: auto 35%;
  }
}